.faq {
  &-title {
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 80px;
    @include breakpoint-down(medium) {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    > h2 {
      color: #00a9dc;
      font-size: 50px;

      @include breakpoint-down(medium) {
        font-size: 24px;
      }
    }
    p {
      margin: 20px 20%;
      @include breakpoint-down(medium) {
        margin: 20px 20px;
      }
    }
  }
  &-container {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;

    @media (max-width: 1300px) {
      flex-direction: column;
    }
    @include breakpoint-down(medium) {
      width: 90%;
    }

    &-left {
      flex: 1;
      > img {
        @media (max-width: 1600px) {
          width: 400px;
        }
        @include breakpoint-down(medium) {
          width: 70%;
        }
      }
      @include breakpoint-down(medium) {
        display: flex;
        justify-content: center;
        margin: 30px 0px;
      }
    }
    &-right {
      flex: 1;
      width: 100%;
      margin-left: 10%;
      @media (max-width: 1300px) {
        margin-left: 0px;
        margin-top: 20px;
      }
      &-questions {
        padding-bottom: 20px;
        margin-bottom: 40px;
       
        color: #212529;
        width: 100%;
        // border-bottom: 1px solid #00A9DC;
        > h2 {
          width: 100%;

          font-size: 23px;
          font-weight: 500;
          cursor: pointer;
          @include breakpoint-down(medium) {
            font-size: 16px;
          }
          > img {
            width: 30px;
            margin-right: 30px;
          }
        }
        > span {
          margin-top: 20px;
          display: block;
          height: 2px;
          width: 100%;
          background-color: #00a9dc;
        }
        > p {
          margin-left: 20px;
          margin-top: 20px;
        }
        &-content{
          margin-left: 20px;
          margin-top: 20px;
          line-height: 27px;
        }
      }
    }
  }
}
.orange-chevronActive {
  transform: rotate(-180deg);
}
