.largeCourseCard{
    width: 100%;
    background-color: white;
    padding: 40px 40px;
    border-radius: 30px;
    @include breakpoint-down(medium){
        padding: 10px;
    }
        &-content{
            display: flex;
            @include breakpoint-down(medium){
                flex-direction: column;
            }
            &-info{
                margin-left: 30px;
                @include breakpoint-down(medium){
                    margin-left: 0px;
                }
                >h3{    
                    color: #001B35;
                    font-weight: 700;
                    @include breakpoint-down(medium){
                        margin-top:20px;
                        font-size: 20px;
                    }

                }
                &-data{
                    margin:12px 0px;
                    display: flex;
                    align-items: center;
                    @include breakpoint-down(medium){
                        margin:10px 0px;
                        justify-content: center;
                    }
                    &-single{
                        display: flex;
                        margin-right: 40px;
                        @include breakpoint-down(medium){
                            margin-right: 15px;
                        }
                        >img{
                            width: 20px;
                            @include breakpoint-down(medium){
                                width: 16px;
                            }
                        }
                        >p{
                            white-space: nowrap;
                            margin-left: 10px;
                            font-weight: 500;
                            color: #001B35;
                            @include breakpoint-down(medium){
                                font-size: 12px;
                            }
                        }
                    }
                }
                >p{
                    color: #001B35;
                    @include breakpoint-down(medium){
                        font-size: 14px;
                    }
                }
            }
  
        }

        &-progress{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 40px;
           
            &-bar{
                background-color: #EAEDF4;
                height: 10px;
                width: 87%;
                border-radius: 10px;
                @include breakpoint-down(medium){
                    width: 60%;
                }
                &-inside{
                    height: 100%;
                  
                    border-radius: 10px;
                    background-color: #00A9DC;
                }
            }
            >p{
                cursor: pointer;
                color: #00A9DC;
                font-weight: 700;
                font-size: 20px;
                background-color: #FAFCFE;
                padding: 10px 30px;
                border-radius: 30px;transition: all 200ms ease-in-out;
                @include breakpoint-down(medium){
                    font-size: 14px;
                    padding: 10px 14px;
                }
            }
            >p:hover{
                opacity: 0.6;
            }
        }
}