.profileInfo {
  width: 90%;
  margin: auto;

  background-color: white;
  border-radius: 30px;
   
  margin-bottom: 60px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  @include breakpoint-down(medium) {
    flex-direction: column;
  }
  &-text {
    > h2 {
      font-weight: 400;
      span {
        font-weight: 700;
      }
    }
    &-cards {
      display: flex;
      margin-top: 10%;
      @include breakpoint-down(medium) {
        flex-direction: column;
        align-items: center;
      }
      &-single {
        width: 160px;
        background-color: #e6f7fc;
        border-radius: 20px;
        padding: 10px 20px;
        margin-right: 20px;
        @include breakpoint-down(medium) {
          margin-bottom: 20px;
          width: 100%;
          margin-right: 0px;
        }
        &-top {
          display: flex;
          justify-content: space-between;
          > img {
            width: 26px;
            @include breakpoint-down(medium) {
              width: 25px;
            }
          }
          > p {
            font-weight: 700;
            font-size: 30px;
            color: #00a9dc;
            @include breakpoint-down(medium) {
              font-size: 30px;
            }
          }
        }
        > p {
          color: #00a9dc;
          white-space: pre-wrap;
          @include breakpoint-down(medium) {
            font-size: 14px;
          }
        }
      }
    }
    > p {
      margin-top: 10%;
      font-size: 18px;
      span {
        font-weight: 700;
      }
    }
  }
  &-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &-img {
      width: 80%;
      @include breakpoint-down(medium) {
        margin: 30px 0px;
      }

      &-img {
        width: calc(100% - 18%);
        border-radius: 50%;
      }
    }
    &-btn {
      display: flex;
      cursor: pointer;

      transition: all 200ms ease-in-out;
      > p {
        padding: 8px 40px;
        border-radius: 30px;
        background: linear-gradient(90deg, #20d7fc 0%, #1371b9 100%);
        color: white;
        font-weight: 700;
      }
    }
    &-btn:hover {
      opacity: 0.6;
    }
  }
}
