@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif !important;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.slick-dots li button:before {
  font-size: 10px;
  color: #00a9dc;
}
.slick-dots li.slick-active button:before {
  color: #00a9dc;
}

ol,
ul,
dl {
  margin-bottom: 0 ;
  padding-left: 0 ;
}
p {
  margin: 0;
}
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin: 0;
  font-weight: 700;
}
.slick-slide {
  padding-bottom: 40px;
}
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: #e6f7fc;
  display: none;
}
::-webkit-scrollbar-thumb:horizontal {
  display: none;
  background: #00a9dc;
  border-radius: 10px;
}

/* the slides */

.slick-slide {
  overflow: hidden;
  padding-right: 10px;
}
